/*-- variables colores --*/
:root {
    --primary: #111b54;
    --light: #ffffff;
    --grey: #efefef;
    --dark: #000000;
    --navyblue: #0C4C8A;
    --greenper: #00BAA1;
}

body {
    font-family: 'Spartan', sans-serif;     /*-- Fuente --*/
    font-weight: 300px;
    color: var(--primary);
}

.bg-dark { background-color: var(--dark) !important; }
.txt-green { color: var(--greenper) !important; }
.txt-light{ color: var(--light) !important; }
.txt-navyblue{ color: var(--navyblue) !important;}
.txt-dark{ color: var(--dark) !important;}

/*--------------------- Navbar ---------------------*/
.btn-search {
  right: 20px;
}

.logo {
  width: 150px;
}

.icono {
  font-size: 20px;
}

/*--------------------- Contenido carrito ---------------------*/
.product-name {
  display: block;
  font-size: 15px;
  margin-left: 50px;
}

.txt-prod {
  margin-left: 0px;
  color: var(--greenper) !important;
}

.txt-precio {
  width: 535px;
  color: var(--greenper) !important;
}

.txt-cant {
  margin-left: -100px;
  color: var(--greenper) !important;
}

.txt-cant {
  margin-left: -165px;
  color: var(--greenper) !important;
}

.txt-subt {
  margin-left: 85px;
  color: var(--greenper) !important;
}

.txt-quitar {
   margin-left: 80px;
   color: var(--greenper) !important;
}

.display-tc img{
  position: relative;
  top: 0px; 
  left: -250px;
}

.nombre-producto {
  float: right;
  position: relative;
  top: 120px; 
  left: -210px;
}

.precio {
  position: relative;
  top: 120px;
  left: -100px;
}

.cantidad {
  width: 65px;
  position: relative;
  top: 110px;
}

.subtotal {
  position: relative;
  top: 120px;
  left: 90px;
}

.quitar {
  position: relative;
  top: 120px;
  left: 205px;
  color: #00BAA1;
  font-size: 20px;
}

hr {
  width: 80%;
  border: #000000 solid 1px;
}

.txt_total {
  font-size: 35px;
}

/*--------------------- Footer ---------------------*/
.icono-footer {
  font-size: 30px;
  color:#00BAA1 !important;
  padding: 5px;
  transition: 0.3s ease-in;
}

.icono-footer:hover {
  transform: scale(1.3);
}

.img-footer {
  width: 150px;
}

.Copyright {
  font-size: 12px;
}

.Copyright a{
  color: #CE3E1E;
  text-decoration: none;
  font-size: 12px;
}

.Copyright a:hover {
  color:#00BAA1 !important; 
}

/*--------------------- Mediaquerys ---------------------*/

@media (max-width: 1200px){
  .txt-slider {
  font-size: 50px;
  margin: 130px auto;
  }
}

@media (max-width: 767.98px) {
      .product-cart .one-forth, .product-name .one-forth {
        width: calc(100% - 240px); } 
}